parameters:
    # From 0-8 (or "max". 0 is loosest). See the files in conf/ in the repo for what's at each level
    # Can be overridden with the -l parameter on the commandline
    level: max
    parallel:
        processTimeout: 300.0
    fileExtensions:
        - php
    paths:
        - src

    # From phpstan-strict-rules
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkFunctionNameCase: true
    reportStaticMethodSignatures: true

services:
    -
        class: PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
        tags:
            - phpstan.rules.rule
